@import "seattletimes";
@import (inline) "reveal.css";
@import (inline) "simple.css";

.logo {
  position: absolute;
  z-index: 9;
  top: 15px;
  left: 15px;

  img {
    height: 24px;
  }
}

.navigate-left, .navigate-right {
  display: none;
}

.left-rail {
  max-width: 300px;
  float: left;

  @media @break {
    max-width: 100%;
    float: none;
  }
}
.right-rail {
  float: right;
  max-width: 600px;

  @media @break {
    max-width: 100%;
  }
}

.full-img {
  // max-width: 100%;
  max-height: 100vh;
  transform: translateX(-50%);
  position: absolute;
}

.hed, .subhed {
  color: white;
  font-family: @df-serif !important;
  font-weight: bold !important;
}
.hed {
  font-size: 90px !important;

  @media @break {
    font-size: 400% !important;
  }
}
.subhed {
  font-size: 26px !important;

  @media @break {
    font-size: 150% !important;
  }
}

.text-box {
  text-align: left;
  font-family: @df-serif !important;
  font-size: 20px !important;

  &.boxed {
    color: @df-light-gray;
    padding: 30px !important;
    background: rgba(0,0,0,0.7);
  }

  @media @break {
    font-size: 150% !important;
  }
}

.flex-container {
  .display-flex();
  div {
    .flex(1);

    &.flex-two {
      .flex(2);
    }
  }
}
.full-flex-container {
  height: 100vh;
  .align-items(center);

  .full-img {
    .flex(1);
  }
}