<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Safari, you're the worst -->
    <meta name='format-detection' content='telephone=no'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

 <a class="logo" href="http://www.seattletimes.com"><img src="./assets/st-logo.png"></a>

    <div class="reveal">
      <div class="slides">
        <section>

          <section data-background-image="./assets/Bhutanesephotosweditedcaptions0001.JPG">
            <div class="left-rail">
              <div class="hed">7 Days</div>
              <div class="subhed">A refugee family's first week in the US.</div>
            </div>
          </section>

          <section data-background-image="./assets/Bhutanesephotosweditedcaptions0001.JPG">
            <div class="left-rail text-box boxed"> 
              This is fake copy that describes the purpose of the story, a tale of a refugee family’s first weeks in Seattle. This is fake copy that describes the purpose of the story, a tale of a refugee family’s first weeks in Seattle. This is fake copy that describes the purpose of the story, a tale of a refugee family’s first weeks in Seattle.
            </div>
          </section>

          <section>
            <div class="left-rail text-box"> 
              WHEN AMERICAN AIRLINES flight 1804 circled Seattle approaching Sea-Tac Airport, Birkha Biswa stared at a sea of green trees, skyscrapers and dense neighborhoods below. Birkha, 33, was amazed at the number of planes and cement highways spanning the perimeter of the airport, as well as the diversity of faces bustling through the bright corridors of the airport.
            </div>
            <div class="right-rail">
              <img src="./assets/Bhutanesephotosweditedcaptions0002.JPG">
            </div>
          </section>

        </section>
      </div>
    </div>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
