<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Safari, you're the worst -->
    <meta name='format-detection' content='telephone=no'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
    <script src="https://use.fontawesome.com/bd870dfa49.js"></script>
  </head>
  <body>

 <a class="logo white" href="http://www.seattletimes.com"><img src="./assets/st-logo.png"></a>
 <a class="logo black" href="http://www.seattletimes.com"><img src="./assets/st-logo-dark.png"></a>


    <div class="reveal">
      <div class="slides">
        <section>

          <section data-background-image="./assets/low/Bhutanesephotosweditedcaptions0001.jpg">
            <div class="left-rail">
              <div class="hed">7 Days</div>
              <div class="subhed">A refugee family's first week in the US.</div>
            </div>
          </section>

          <section data-background-image="./assets/low/Bhutanesephotosweditedcaptions0001.jpg">
            <div class="left-rail text-box boxed"> 
              Facing persecution in Bhutan, an extended Nepali-speaking family fled the country for a refugee camp in eastern Nepal. They were resettled in Tukwila starting in 2009, but four members weren’t able to leave the camp until August. We chronicle their first month of life in the U.S.
              <div class="caption padded">
                Birkha and Sunita Biswa and their daughters, Pranshu, 8, and Prashana, 13, are getting settled in Tukwila after years spent in a refugee camp in Nepal.
              </div>
            </div>
          </section>

          <section data-background-color="#4d4d4d">
            <div class="text-box narrow"> 
              <div class="byline">
                By Erika Schultz<br>
                Seattle Times staff photographer
              </div>
              <div class="divider"></div>
              <p>As American Airlines Flight 1804 approached Sea-Tac Airport, Birkha Biswa stared at a sea of green trees, skyscrapers and dense neighborhoods below.
              <p>Birkha, 33, was amazed at the number of planes parked on the runways and the maze of highways circling the airport. Once inside the terminal, he was wowed by the variety of faces bustling past.
            </div>
          </section>

          <section data-background-image="./assets/low/Bhutanesephotosweditedcaptions0002.jpg">
            <div class="fragment fade-up left-rail text-box boxed"> 
              <div class="caption">
                In 1992, several generations of the Biswa family pose for a photograph at their home in Bhutan. One month later, they moved to a refugee camp in Nepal. Birkha, now 33, is the boy at far left.
              </div>
            </div>
          </section>

          <section data-background-color="#4d4d4d">
            <div class="text-box narrow">
              <div class="divider"></div>
              <p>Just a few days before, Birkha, his wife, Sunita, and their two daughters, Prashana, 13, and Pranshu, 8, had left their bamboo home in a refugee camp in eastern Nepal and boarded a plane for the first time in their lives.
              <p>Birkha had once feared he would never see his mother, father and siblings again.
              <p>But on this August evening, he scanned the crowds near the baggage carousel and spotted his father, Chatur. After years of being stateless and separated by thousands of miles from his loved ones, Birkha was finally back in their embrace.
            </div>
          </section>

          <section data-background-image="./assets/low/Bhutanesephotosweditedcaptions0003.jpg">
            <div class="fragment fade-up left-rail text-box boxed"> 
              <div class="caption">
                Relatives and International Rescue Committee caseworkers surround a smiling Birkha Biswa at Sea-Tac Airport in August. Birkha, with his wife and daughters, was the last of his family to be resettled in the United States from the refugee camp. For years, he wasn't sure if they’d ever be reunited. “When I saw my parents, I felt like I found something which I had lost.”
              </div>
            </div>
          </section>

          <section data-background-color="black">
            <div class="aspect-outer">
              <div class="aspect-inner">
                <video
                  data-account="1509317113"
                  data-player="Nk8AFQkhe"
                  data-embed="default"
                  data-video-id="5163393112001"
                  id="player-1"
                  class="video-js" controls>
                </video>
              </div>
            </div>
          </section>

          <section>
            <div class="flex-container">
              <div><img src="./assets/low/Bhutanesephotosweditedcaptions0004.jpg"></div>
              <div class="buffer"></div>
              <div><img src="./assets/low/Bhutanesephotosweditedcaptions0005.jpg"></div>
            </div>
            <div class="flex-container">
              <div><img src="./assets/low/Bhutanesephotosweditedcaptions0006.jpg"></div>
              <div class="buffer"></div>
              <div><img src="./assets/low/Bhutanesephotosweditedcaptions0007.jpg"></div>
            </div>

            <div class="absolute fragment fade-up left-rail text-box boxed"> 
              <div class="caption">
                The family’s arrival in Tukwila was cause for much anticipation and celebration. Clockwise from top left: Leaving the airport, Pranshu rides between father Birkha, right, and relative Bhagi Biswa. Dibbya Biswa runs to hug her cousins. Surrounded by family, Prashana, 13, (center) and her mother, Sunita Biswa (in blue) unpack their bags in Tukwila. Chatur Biswa is happy to have his son’s family in the U.S. with him. Chatur works in a packing company and recently became a U.S. citizen. “Now I can say this is my country," he said. “It's a big deal for me.”
              </div>
            </div>
          </section>

          <section data-background-image="./assets/low/Bhutanesephotosweditedcaptions0013.jpg" class="top-aligned">
            <div class="fragment fade-up left-rail text-box boxed"> 
              <div class="caption">
                Sunita and Birkha Biswa visit the Namaste Community Garden for the first time. More than 90 families have plots in the garden.
              </div>
            </div>
          </section>

          <section>
            <div class="flex-container">
              <div class="flex-two"><img src="./assets/low/Bhutanesephotosweditedcaptions0014.jpg"></div>
              <div class="buffer"></div>
              <div>
                <img src="./assets/low/Bhutanesephotosweditedcaptions0015.jpg">
                <img src="./assets/low/Bhutanesephotosweditedcaptions0016.jpg">
              </div>
            </div>
            <div class="absolute fragment fade-up left-rail text-box boxed" id="garden-triplet"> 
              <div class="caption">
                Many Bhutanese immigrants, especially elders, produce a wide variety of vegetables, spices and fruits for their meals. Left: Grandmother Buddhi Biswa harvests greens. Top right: Bhutanese families attend a meeting at Namaste Community Garden in Tukwila. Many work for hotels, packing companies and Sea-Tac Airport. Bottom right: Prashana Biswa, 13, cuddles with her mother, Sunita, during their second day in the United States. They said it was colder in the Seattle area than they had expected.
              </div>
            </div>
          </section>

          <section data-background-color="#4d4d4d">
            <div class="text-box narrow">
              <div class="divider"></div>
              <p>The Biswa family was among the more than 100,000 ethnic Nepalis who were expelled from or fled Bhutan in the early 1990s after years of political unrest following the government’s adoption of a “One Nation, One People” policy. That policy, among other actions, banned the teaching of the Nepali language, forced people to adopt the Bhutanese national dress and denied citizenship to many ethnic Nepalis.
              <p>In 1992, 15 members of the Biswa family fled their home in the back of a truck, after quickly selling off their livestock and the land they had farmed for generations. They crossed India and found safety at the Pathri refugee camp in eastern Nepal.
            </div>
          </section>

          <section data-background-image="./assets/low/Bhutanesephotosweditedcaptions0017.jpg">
            <div class="fragment fade-up left-rail text-box boxed"> 
              <div class="caption">
                The Biswa family prays during a home church service. About half of the family are Hindu, while others are Christian and attend services several times a week.
              </div>
            </div>
          </section>

          <section data-background-color="black">
            <div class="aspect-outer">
              <div class="aspect-inner">
                <video
                  data-account="1509317113"
                  data-player="Nk8AFQkhe"
                  data-embed="default"
                  data-video-id="5163393114001"
                  id="player-2"
                  class="video-js" controls>
                </video>
              </div>
            </div>
          </section>

          <section data-background-image="./assets/low/Bhutanesephotosweditedcaptions0008.jpg">
            <div class="fragment fade-up left-rail text-box boxed"> 
              <div class="caption">
                Birkha signs forms for his family at Seattle's Downtown Public Health Center. Resettlement agencies help refugee families get health screenings, vaccinations and tools to become self-reliant, such as cultural orientation, job skills and English classes.
              </div>
            </div>
          </section>

          <section>
            <div class="flex-container">
              <div>
                <img src="./assets/low/Bhutanesephotosweditedcaptions0010.jpg">
                <img src="./assets/low/Bhutanesephotosweditedcaptions0011.jpg">
              </div>
              <div class="buffer"></div>
              <div class="flex-two"><img src="./assets/low/Bhutanesephotosweditedcaptions0009.jpg"></div>
            </div>
            <div class="right-aligned absolute fragment fade-up left-rail text-box boxed"> 
              <div class="caption">
                Settling in a new country requires a lot of appointments. Left: Sunita and Birkha meet with an International Rescue Committee caseworker in SeaTac to talk about upcoming educational opportunities. Center: A health worker measures Sunita’s height. Right: Pranshu cries after a vaccination, but her dad knows the pain is only temporary.
              </div>
            </div>
          </section>

          <section data-background-image="./assets/low/Bhutanesephotosweditedcaptions0012.jpg">
            <div class="fragment fade-up left-rail text-box boxed"> 
              <div class="caption">
                IRC caseworker Birendra Khadka, left, helps Birkha Biswa register Pranshu, 8, for elementary school in Tukwila. Birkha’s hopes for his daughters: “To be well-educated, to have a decent job, and to not face any misery.”
              </div>
            </div>
          </section>

          <section data-background-color="black">
            <div class="aspect-outer">
              <div class="aspect-inner">
                <video
                  data-account="1509317113"
                  data-player="Nk8AFQkhe"
                  data-embed="default"
                  data-video-id="5163352999001"
                  id="player-3"
                  class="video-js" controls>
                </video>
              </div>
            </div>
          </section>

          <section data-background-color="#4d4d4d">
            <div class="text-box narrow">
              <div class="divider"></div>
              <p>Family members remember that there initially wasn’t enough to eat at the camps. Eventually, the Office of the United Nations High Commissioner for Refugees brought beans, rice and salt, and then rations of vegetables and flour. Schools and a hospital were built. But jobs and opportunities were limited.
            </div>
          </section>

          <section>
            <div class="flex-container">
              <div class="flex-two"><img src="./assets/low/Bhutanesephotosweditedcaptions0018.jpg"></div>
              <div class="buffer"></div>
              <div>
                <img src="./assets/low/Bhutanesephotosweditedcaptions0019.jpg">
                <img src="./assets/low/Bhutanesephotosweditedcaptions0020.jpg">
              </div>
            </div>
            <div class="absolute fragment fade-up left-rail text-box boxed"> 
              <div class="caption">
                The Biswas navigate new places with help from relatives. Left: Birkha and Sunita Biswa go grocery shopping for the first time at a Tukwila supermarket. Center: On his second day in the U.S., Birkha gets a shave from Dex Harris at Hi-Def Cuts in Tukwila. Right: Children in the Nepali-speaking Bhutanese community play outside an apartment building in Tukwila.
              </div>
            </div>
          </section>

          <section data-background-image="./assets/low/Bhutanesephotosweditedcaptions0021.jpg">
            <div class="fragment fade-up left-rail text-box boxed"> 
              <div class="caption">
                Dibbya Biswa, with little cousin Pranshu at her side, wears a gown and tiara at her 18th birthday party. Dibbya, who graduated from Foster High School, is attending UW Bothell and hopes to become a doctor.
              </div>
            </div>
          </section>

          <section data-background-color="#4d4d4d">
            <div class="text-box narrow">
              <div class="divider"></div>
              <p>Starting in 2009, waves of the Biswa family were resettled in Tukwila. Birkha, Sunita and their daughters were the last of the family to leave the refugee camp, exchanging tearful goodbyes as they departed this summer.
            </div>
          </section>

          <section>
            <div class="flex-container">
              <div>
                <img src="./assets/low/Bhutanesephotosweditedcaptions0023.jpg">
                <img src="./assets/low/Bhutanesephotosweditedcaptions0024.jpg">
              </div>
              <div class="buffer"></div>
              <div class="flex-two"><img src="./assets/low/Bhutanesephotosweditedcaptions0022.jpg"></div>
            </div>
            <div class="absolute fragment fade-up left-rail text-box boxed right-aligned"> 
              <div class="caption">
                Birkha said his goals are to find work, get a good education for his children, earn good credit, buy a home and “live an honest life.” Left: Pranshu, 8, takes a ride in a relative’s toy car at her new home in Tukwila. She wants to be a teacher when she grows up. Center: Sunita gets her first glimpses of life in South King County while setting up a banking account. Right: Relatives and friends surround Prashana, 13, while taking photos at a party in Tukwila. She aspires to become a doctor. 
              </div>
            </div>
          </section>

          <section data-background-image="./assets/low/Bhutanesephotosweditedcaptions0025.jpg">
            <div class="fragment fade-up left-rail text-box boxed right-aligned"> 
              <div class="caption">
                Birkha and Sunita Biswa examine their new apartment in Tukwila. The couple and their two daughters lived for about a month at his parents’ apartment a few blocks away. “For the comfort of the family,” Birkha says, “I want to buy a car, find a good job, and I want to work honestly according to my capacity.”
              </div>
            </div>
          </section>

          <section>
            <div class="flex-container">
              <div><img src="./assets/low/Bhutanesephotosweditedcaptions0026.jpg"></div>
              <div class="buffer"></div>
              <div><img src="./assets/low/Bhutanesephotosweditedcaptions0027.jpg"></div>
            </div>
            <div class="flex-container">
              <div><img src="./assets/low/Bhutanesephotosweditedcaptions0028.jpg"></div>
              <div class="buffer"></div>
              <div><img src="./assets/low/Bhutanesephotosweditedcaptions0029.jpg"></div>
            </div>

            <div class="absolute fragment fade-up left-rail text-box boxed"> 
              <div class="caption">
                Sunita and Birkha Biswa said they want to thank America for letting them make a home here. Clockwise from top left: Birkha and daughter Pranshu move into their one-bedroom apartment in Tukwila with help from relatives. The family only brought a few precious belongings from the refugee camp, including traditional clothing, curry pots and spoons and a few decorations. Pranshu practices matht in her new home as grandmother Krishna Biswa watches. Sunita smiles while talking to relatives.
              </div>
            </div>
          </section>

          <section data-background-color="#4d4d4d">
            <div class="text-box narrow">
              <div class="divider"></div>
              <p>Their relatives in South King County live in apartments within walking distance. Many grow their own food at a Bhutanese community garden near Foster High School. Some work at packing companies, hotels and the airport. One is an Uber driver. Three young women in the family attend college with plans to become doctors.  
              <p>Those family members are now teaching Birkha, Sunita and their daughters the skills to adapt to their new lives in Washington state.
              <div class="end-credit">
                <em>Seattle Times photographer Erika Schultz and videographer Lauren Frohne followed the newly arrived family during their first month in the U.S.</em>
                <p><strong><em>Erika Schultz: eschultz@seattletimes.com. On Twitter: @erikajschultz</em></strong>
              </div>
            </div>
          </section>

          <section data-background-image="./assets/low/Bhutanesephotosweditedcaptions0030.jpg">
            <div class="fragment fade-up left-rail text-box boxed"> 
              <div class="caption">
                Pranshu and her relative Dave Biswa, 2, take a ride in a toy luxury convertible in Tukwila. Pranshu’s former home was a bamboo house in a refugee camp in Nepal. Now she delights in eating vanilla ice cream, watching movies and playing with her reunited cousins.
              </div>
            </div>
          </section>

          <section data-background-color="black">
            <div class="aspect-outer">
              <div class="aspect-inner">
                <video
                  data-account="1509317113"
                  data-player="Nk8AFQkhe"
                  data-embed="default"
                  data-video-id="5163392431001"
                  id="player-4"
                  class="video-js" controls>
                </video>
              </div>
            </div>
          </section>

          <section data-background-color="black">
            <img class="circle-logo" src="./assets/ST_logo_black.svg">
            <div class="final-credits"> 
              <div class="credit"><span class="role">Photography:</span> Erika Schultz</div>
              <div class="credit"><span class="role">Video and editing:</span> Corinne Chin and Lauren Frohne</div>
              <div class="credit"><span class="role">Design:</span> Frank Mina</div>
              <div class="credit"><span class="role">Web development:</span> Audrey Carlsen</div>
              <div class="credit"><span class="role">Project editors:</span> Danny Gawlowski and Jim Simon</div>
            </div>
            <img class="final-logo" src="./assets/st-logo.png">
          </section>

        </section>
      </div>
    </div>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
